$robotoSlab: 'Roboto Slab', serif;
$robotoSlabLight: 300;
$robotoSlabNormal: 400;
$robotoSlabBold: 700;

$roboto: 'Roboto', serif;
$robotoLight: 400;
$robotoNormal: 500;
$robotoBold: 700;
$robotoExtraBold: 900;
